<div class="table-container">
  <h1>Trainers</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specialization</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @trainers.each do |trainer| %>
        <tr>
          <td><%= trainer.name %></td>
          <td><%= trainer.specialization %></td>
          <td><%= trainer.email %></td>
          <td class="action-buttons">
            <%= link_to 'Show', trainer, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Edit', edit_trainer_path(trainer), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', trainer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="text-center">
    <%= link_to 'New Trainer', new_trainer_path, class: 'btn btn-success' %>
  </div>
</div>

