<div class="table-container">
  <h1>Members</h1>
  
  <div class="row">
    <% @members.each do |member| %>
      <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= member.name %></h5>
            <p class="card-text">
              <strong>Email:</strong> <%= member.email %><br>
              <strong>Phone:</strong> <%= member.phone %><br>
              <strong>Membership Type:</strong> <%= member.membership_type %><br>
              <strong>Join Date:</strong> <%= member.join_date %>
            </p>
            <div class="d-flex justify-content-between">
              <%= link_to 'Show', member, class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Edit', edit_member_path(member), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="text-center">
    <%= link_to 'New Member', new_member_path, class: 'btn btn-success' %>
  </div>
</div>
